* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 150;
    background: #fff;
}

.nav-box {
    padding: 10px;
    height: 56px;
}

#nav {
    display: flex;
}

.left {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.menu-box {
    padding: 9px 0;
}

.logo-box {
    margin: -6px;
}

.logo-box img{
    width: 100px;
    height: 50px;


}
.search {
    margin: 4px auto 0;

}

.search-form input {
    padding: 7px;
    font-size: 15px;
    border: 1px solid #c7c7c7;
    border-radius: 2px 0 0 2px;
    float: left;
    width: 565px;
    background: #fff;
    color: #383838;
}

.search-form button {
    padding: 6.5px 25px;
    background: #f8f8f8;
    color: white;
    font-size: 15px;
    border: 1px solid #c7c7c7;
    border-radius: 0 2px 2px 0;
    border-left: none;
    cursor: pointer;
    outline: none;
  }

  .search-form button:hover {
    background: #f1f1f1;
  }

  button img {
      width: 15px;
      height: 15px;
      color: #f1f1f1;
  }

  /* Clear floats */
.search-form::after {
    content: "";
    clear: both;
    display: table;
  }

.apps {
    display: grid;
    grid-template-columns: repeat(8, 25px);
    justify-content: space-around;
    padding: 9px;
}

.tile-menu {
    grid-column: 3
}

.bell {
    grid-column: 5;
}

.picture {
    grid-column: 7;
    
}

.picture img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -6px ;
}

img {
    height: 20px;
    width: 20px;
}
/* end of navbar styles */

/* Start of main section styles */
.main-container {
    position: relative;
    top: 40px;
    margin: 0 auto;
    background-color: #f1f1f1;
}

.primary-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 22px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 0;
}

.left-container {
}

.video {
    width: 860px;
    height: 460px;
}

.right-container {
    
}

.sub-container {
    display: grid;
    grid-auto-rows: auto;
    margin-top: 10px;
    margin-right: 15px;
    background: #66cdaa;
}

.text-above-thumnails-container {
    display: flex;
    position: relative;
}

.autoplay {
    display: flex;
}

.autoplay-switch {
    float: inline-end;
    width: 30px;
    height: 30px;
}
